# system
**/.DS_Store

# editors
**/.idea
**/.vscode
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings
**/*.sublime-workspace
**/.editorconfig

# git
**/.git
**/.gitignore

# docker
**/Dockerfile
**/docker-compos*.yml
**/.dockerignore

# nodejs
**/node_modules
**/package-lock.json
**/npm-debug.log

# files
**/dist
**/*.map
**/*.md
**/*.js
**/*.txt
**/*.log
**/*.tmp

# exclude
!**/_config/**/*.js