# editors
**/.idea
**/.vscode

### global
**/Dockerfile
**/node_modules
**/dist
**/_log
**/npm-debug.log
**/.git
**/.gitignore
**/.DS_Store
**/package-lock.json
**/*.map
**/*.md
**/*.js
**/*.yml
**/*.txt
**/*.log
**/*.tmp

!**/_config/**/*.js